
<ion-view view-title="Início">
  <ion-content class="inicio">
    <img class="img-responsive" src="img/secomp.png"/>
    <div class="row" align="center">
      <div class="col">
        <h4>
          "A Semana Acadêmica de Ciência da Computação é um evento que ocorre com periodicidade anual, sendo promovido pelo curso de Ciência da Computação da Fundação Universidade Federal do Tocantins (UFT). Ao longo dos anos, este evento científico em computação vem ganhando cada vez mais importância e respeito, agregando grande parte da comunidade regional cujo interesse em tecnologia e computação seja proveniente do meio acadêmico ou do meio empresarial e industrial."
        </h4>
      </div>
    </div>
  </ion-content>
</ion-view>
