<ion-view view-title="Participantes">
  <ion-content class="inicio">
    <div class="list card" ng-click=exibirOsmir()>
      <div class="item item-avatar">
        <img src="img/mcfly.jpg">
        <h3>Osmir Mariano</h3>
        <p>Outubro 18, 2016</p>
      </div>
    </div>

    <div class="list card" on-hold=exibirFulandoTal()>
      <div class="item item-avatar">
        <img src="img/fulanoTal.jpeg">
        <h3>Fulano de Tal</h3>
        <p>Outubro 18, 2016</p>
      </div>
    </div>
  </ion-content>
</ion-view>
